* {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.atas {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  height: 100px;
  box-shadow: 0 7px 15px rgb(0, 0, 0.5);
}

.atas>img {
  height: 150px;
  width: 120px;
  justify-content: center;
  align-items: center;
  margin-top: -2.07rem;
  transition: 0.2s;
}

.home {
  width: 100px;
  height: 100px;
}

.home>h4 {
  margin-top: 15;
}

.home>h4>a {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: white;
  font-size: 25px;
  font-family: fantasy;
  margin: 15px;
  position: relative;
  padding: 5px;
}

.info {
  width: 100px;
  height: 100px;
}

.info>h4 {
  margin-top: 15;
}

.info>h4>a {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: white;
  font-size: 25px;
  font-family: fantasy;
  margin: 15px;
  position: relative;
  padding: 5px;
}

.jadwal {
  width: 100px;
  height: 100px;
}

.jadwal>h4 {
  margin-top: 15;
}

.jadwal>h4>a {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: white;
  font-size: 25px;
  font-family: fantasy;
  margin: 15px;
  position: relative;
  padding: 5px;
}

.badan>h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 150px;
}

.match {
  width: 420px;
  height: 250px;
  margin: 5px;
  margin-bottom: 50px;
  margin-top: 5px;
}

.pmatch {
  width: 100%;
  height: 100%;
}
