* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  background-color: rgb(255, 255, 255);
}

/* BAR */
.BAR {
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 100px;
  box-shadow: 0 7px 15px rgb(0, 0, 0.5);
}

.BAR > img {
  height: 150px;
  width: 120px;
  justify-content: center;
  align-items: center;
  margin-top: -2.07rem;
  transition: 0.2s;
}

.ul-BAR {
  box-decoration-break: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.li-BAR {
  color: rgb(255, 255, 255);
  list-style-type: none;
  margin: 15px;
  font-size: 25px;
  font-family: fantasy;
  padding: 5px;
}

.li-BAR > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
}

.li-BAR > a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 0.4s ease-in;
  transition: 0.4s ease-out;
  border-radius: 2px;
  padding: 5px;
  transition-delay: 0.2s;
}

.BAR > img:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transform: scale(1);
  transition: 0.4s;
  border-radius: 5px;
  padding: 5px;
  transition-delay: 0.2s;
}

/* CONTENT */
.inform {
  justify-content: center;
  text-align: center;
  background-color: aqua;
}


.main {
  text-align: left;
  justify-content: left;
  font-size: 50px;
  font-family: fantasy;
  padding: 10rem;
  color: rgb(0, 0, 0);
}
.main > h6 {
  word-spacing: 4px;
  font-size: 23px;
}

.main > button {
  margin-left: -2rem;
  margin-top: 2rem;
  padding: 0rem;
  list-style-type: none;
  border-style: none;
  text-align: left;
  justify-content: left;
  align-items: left;
  background-color: white;
  font-size: large;
}
.main > button > a {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem;
  list-style-type: none;
  text-decoration: none;
  border-style: none;
}
.main > button > a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 0.4s ease-in;
  transition: 0.4s ease-out;
  border-radius: 2px;
  padding: 5px;
  transition-delay: 0.2s;
}

.jadwal {
  justify-content: center;
  text-align: center;
  margin-top: rem;
}

.jadwal > table,
th,
td {
  padding: 15px;
  justify-content: center;
  text-align: center;
  word-spacing: 5px;
  margin-left: 25rem;
}
/* gambare */
.Gambare {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

/* LINK */
.content {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 50px;
}

.content > h2 {
  display: flex;
  justify-content: left;
  text-align: left;
  padding: 2rem;
  margin: 1rem;
}

.konten {
  background-color: black;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 0rem;
  color: white;
  height: 300px;
}


.konten>h6{
  height: 2px;
  background-color: white;
  margin-top: -1rem;
  margin-bottom: 2rem;
  color: black;
}

.konten>h3{
  font-size: 25px;
  margin-top: 2rem;
}


/* profile info register */
.maineg{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 40px;
}

.maineg>h6{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: -0.5rem;
}

.maineg>h5{
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin-top: 1rem;
  margin-bottom: 6rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem;
  color: rgb(255, 255, 255);
}

.infg>h1{
  justify-content: left;
  text-align: left;
  align-items: left;
  margin-bottom: -2.5rem;
  margin-left: 3rem;
  margin-top: 10rem;
}

.lain{
  justify-content: right;
  text-align: right;
  align-items: right;
  margin-bottom: -2rem;
  margin-right: 3rem;
  margin-top: 8rem;
}

.lain>p{
  margin-top: 1rem;
  font-size: 20px;
}

.lain>h6{
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin-top: -7rem;
  margin-bottom: 3rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 3rem;
  color: rgb(255, 255, 255);
}

.kale{
    justify-content: left;
  text-align: left;
  align-items: left;
  margin-bottom: 4rem;
  margin-left: 3rem;
  margin-top: 5rem;
}

.kale>h1{
  margin-bottom: 1rem;
}

.kale>h6{
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin-top: 8rem;
  margin-bottom: 3rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: rem;
  margin-right: 2rem;
  color: rgb(255, 255, 255);
}

.kale>ul>li{
  text-decoration: none; 
  list-style-type: none; 
  list-style: none;
  font-size: large;
  margin-top: 0.5rem;
}

.infg>table{
  justify-content: center;
  text-align: center;
  word-spacing: 5px;
  width: 97%;
  font-size: larger;
  margin-top: 2rem;
  margin-left: 2rem;
}

.wa>a{
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

.putra{
  justify-content: left;
  text-align: left;
  align-items: left;
}

.uang{
  justify-content: right;
  text-align: right;
  align-items: right;
}

/* line */
.line {
  background-color: white;
  box-shadow: 0 7px 15px rgb(247, 247, 255);
}

/* CRIGHT */
.CORIGHT {
  background-color: rgb(0, 0, 0);
  color: white;
  justify-content: left;
  text-align: left;
  padding: 2rem;
}

/* CRIGHT */
.CORIGHT > h6 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 1rem;
  height: 2px;
  margin-bottom: 2rem;
}

.CORIGHT > h4 {
  margin-left: 1rem;
}

.CORIGHT > h4 > a {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
